<div class="container-fluid mx-3 p-4 border rounded" style=" margin-top: 100px; min-height:800px; width: 1643px;">
    <div class="row">
  
    
      <div class="col-md-3 border-end d-flex flex-column">
        <h5>Past Events</h5>
        <hr>
        <div class="overflow-auto" style="max-height: 680px;">
        <div class="container mt-4">
          <div class="row" *ngIf="events && events.length > 0; else noEvents">
            <div class="col-md-4 mb-4" *ngFor="let event of events">
              <div class="card h-100" (click)="onEventClick(event)" style="cursor: pointer;">
                <img [src]="event.image_location" class="card-img-top" alt="{{ event.name }}" >
                <div class="card-body">
                  <p class="card-title">{{ event.name }}</p>
                </div>
              </div>
            </div>
          </div>
        
          <ng-template #noEvents>
            <div class="alert alert-info" role="alert">
              No inactive events found.
            </div>
          </ng-template>
        </div>
      </div>
        
      </div>
  
  
      <div class="col-md-3 border-end d-flex flex-column">
        <h5>Upcoming Events</h5>
        <hr>
        <div class="container mt-4">
          <div class="row" *ngIf="events && events.length > 0; else noEvents">
            <div class="col-md-4 mb-4" *ngFor="let event of upcomingevents">
              <div class="card h-100" (click)="onEventClick(event)" style="cursor: pointer;">
                <img [src]="event.image_location" class="card-img-top" alt="{{ event.name }}">
                <div class="card-body">
                  <p class="card-title">{{ event.name }}</p>
                </div>
              </div>
            </div>
          </div>
        
          <ng-template #noEvents>
            <div class="alert alert-info" role="alert">
              No inactive events found.
            </div>
          </ng-template>
        </div>
        
        
      </div>
  
      <div class="col-md-6 border-end d-flex flex-column">
        <div class="overflow-auto" style="max-height: 780px;">
          <div class="mt-4" *ngIf="selectedEvent">
            <div class="card d-flex justify-content-center">
              <img [src]="selectedEvent.image_location" class="card-img-top" alt="{{ selectedEvent.name }}" style="height: 300px; width: 300px; ">
              <div class="card-body">
                <h5 class="card-title">{{ selectedEvent.name }}</h5>
                <p><strong>Contact Name:</strong> {{ selectedEvent.contact_name }}</p>
                <p><strong>Contact Number:</strong> {{ selectedEvent.contact_phone }}</p>
                <p><strong>Contact Email:</strong> {{ selectedEvent.contact_email }}</p>
                <p><strong>Start Date:</strong> {{ selectedEvent.start_date }}</p>
                <p><strong>Start Time:</strong> {{ selectedEvent.start_time }}</p>
                <p><strong>End Date:</strong> {{ selectedEvent.end_date }}</p>
                <p><strong>End Time:</strong> {{ selectedEvent.end_time }}</p>
                <p><strong>Map Location:</strong> {{ selectedEvent.map_location }}</p>
                <p><strong>Address:</strong> {{ selectedEvent.address }}</p>
                <p><strong>Description:</strong> {{ selectedEvent.desc }}</p>
                <!-- Add more event details here as needed -->
                <button class="btn btn-secondary mt-2" (click)="navigateeditevent()">Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>

  
    </div>
  </div>