<div class="container-fluid mx-3 p-4 border rounded" style=" margin-top: 100px; min-height:800px; width: 1643px;">
    <div class="row">
  
    
      <div class="col-md-3 border-end d-flex flex-column">
        <h5>Goshalas</h5>
        <hr>
        
  
        
        
      </div>
  
  
      <div class="col-md-5 border-end d-flex flex-column">
        <h5>Goshalas Category</h5>
        <hr>
        
      </div>
  
   
      <div class="col-md-4 border-end d-flex flex-column">
        <h5>Near by Goshalas</h5>
        <hr>
        
        
      </div>
  
    </div>
  </div>
  